<p-panel header="Classement des chats">
   <p-table [value]="cats" styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
            <tr>
                <th>CODE</th>
                <th>URL</th>
                <th>SCORE</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cat>
            <tr>
                <td>{{cat.id}}</td>
                <td><img [src]='cat.url' class="p-shadow-4" class="img" (click)="showDialog(cat.url)"/></td>
                <td><p-progressBar [value]="cat.score" unit=" Votes"></p-progressBar></td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>

<p-dialog header="Votez pour moi" [(visible)]="display">
    <img [src]='selectedCatUrl' class="p-shadow-4" class="imgmodal"/>
</p-dialog>



